<h1 mat-dialog-title>Hi </h1>
<div mat-dialog-content>
  <form [formGroup]="newAlertForm">
    <label for="id">Id: </label>
    <input id="id" type="text" formControlName="id" required >

    <label for="name">Name: </label>
    <input id="name" type="text" formControlName="name" required >
  
    <label for="description">Description: </label>
    <input id="description" type="text" formControlName="description" required >

    <label for="time">Time: </label>
    <input id="time" type="text" formControlName="time" required >
  </form>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [disabled]="!newAlertForm.valid" (click)="addAlert()">Ok</button>
</div>